html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

.product {
  display: flex;
  align-items: center;
  overflow: hidden;
  transform: translateY(0);
  transition: 0.5s ease-in-out;
  cursor: grab;
}

.product aside {
  /* background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5); */
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product aside.grab {
  cursor: grabbing;
}

.product h3 {
  text-align: center;
}

.product button {
  display: inline-block;
  padding: 0.9rem 2.5rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin: 0 auto;
  background: hsl(176, 50%, 47%);
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}

.get {
  padding: 10px 20px;
}

@media (max-width: 512px) {
  .product {
    display: flex;
    /* grid-template-columns: 1fr; */
  }

  .product aside {
    min-width: 100%;
    margin: 0;
  }

  aside img {
    width: 100%;
  }
}
